<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="<% settings.charset %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Infinite Monkeys Games</title>
    <link rel="stylesheet" href="<% request.uri_base %>/assets/css/app.css">
    <link rel="stylesheet" crossorigin="anonymous" integrity="sha256-RYMme8QITYCPWDLzOXswkTsPu1tjeAE2Myb7Kid/JBY=" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">
    <script src="https://use.fontawesome.com/89ff194087.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Exo|Vollkorn|Jockey+One" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/assets/css/remodal.css">
    <link rel="stylesheet" href="/assets/css/remodal-default-theme.css">
    <link rel="stylesheet" href="/assets/css/jquery.datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/notifIt.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/theme-default.min.css">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/notif/notifIt.js"></script>
    <script type="text/javascript" src="/assets/js/img.js"></script>

  </head>
  <body>
    <div class="remodal-bg">

    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-title">
        <a href="/"><img src="/assets/img/IMG-Logo_67x50.png" alt="Infinite Monkeys Games" title="Infinite Monkeys Games" border="0"></a>
      </div>

      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">
            <a href="/products"><span class="icon-white"><i class="fa fa-rocket fa-fw" aria-hidden="true"></i></span> <span>Products</span></a>
          </li>
          <li class="menu-text">
            <a href="/news"><span class="icon-white"><i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i></span> <span>News</span></a>
          </li>
          <li class="menu-text">
            <a href="/events"><span class="icon-white"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i></span> <span>Events</span></a>
          </li>
          <li class="menu-text">
            <a href="/support"><span class="icon-white"><i class="fa fa-cogs fa-fw" aria-hidden="true"></i></span> <span>Support</span></a>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu align-right">
          <li class="menu-text">
            <a href="#"><span class="icon-white"><i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i></span> <span>Loot</span></a>
          </li>
          <li class="menu-text">
            <% IF session.user %>
            <a href="/logout"><span class="icon-white"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i></span> <span>Log Out</span></a>
            <% ELSE %>
            <a data-remodal-target="signup-login" href="#signup-login"><span class="icon-white"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i></span> <span>Sign Up / Login</span></a>
            <% END %>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->


    <% content %>


    <!-- Start Footer -->
    <div class="row">
      <div class="small-12 columns">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="small-3 columns text-center align-middle">
            <img src="/assets/img/IMG-Logo_67x50.png" alt="Infinite Monkey Games" title="Infinite Monkey Games" border="0">
          </div>
          <div class="small-3 columns text-center align-middle">
            <a href="/">Home</a>
          </div>
          <div class="small-3 columns text-center align-middle">
            <a href="/about">About</a>
          </div>
          <div class="small-3 columns text-center align-middle">
            <a href="/contact">Contact</a>
          </div>
        </div>
      </div>
      <div class="small-6 columns align-right align-bottom">
        <ul class="menu align-right">
          <li><i class="fa fa-copyright fa-fw" aria-hidden="true"></i> Copyright 2016</li>
        </ul>
        <div class="row">
          <div class="small-12 columns text-right">
            <small><span class="subtle_text">Infinite Monkeys Games, IMG, the IMG logo are all trademarks of Infinite Monkeys Games.</span></small>
          </div>
        </div>
      </div>
    </div>
    <!-- End Footer -->
    </div>

    <% IF NOT session.logged_in %>
    <div class="remodal" data-remodal-id="signup-login">
      <button data-remodal-action="close" class="remodal-close"></button>
      <ul class="tabs" data-tabs id="signup-login-tabs">
        <li class="tabs-title is-active"><a href="#signup_form" aria-selected="true">Sign Up</a></li>
        <li class="tabs-title"><a href="#login_form">Login</a></li>
      </ul>

      <div class="tabs-content" data-tabs-content="signup-login-tabs">
        <div class="tabs-panel is-active" id="signup_form">
          <form method="post" action="/signup" id="signup_form">
            <h2>Sign Up</h2>
            <div class="row">
              <div class="small-3 columns">
                <label for="username" class="text-right middle">Username:</label>
              </div>
              <div class="small-9 columns">
                <input type="text" value="" name="username" placeholder="joe_user" maxlength="30" required
                  data-validation="required alphanumeric length" data-validation-allowing="-_"
                  data-validation-length="3-30"
                  data-validation-error-msg="Username is required, must be alphanumeric (dash and underscore are allowed), and between 3-30 characters.">
              </div>
            </div>
            <div class="row">
              <div class="small-3 columns">
                <label for="password" class="text-right middle">Password:</label>
              </div>
              <div class="small-9 columns">
                <input type="password" value="" name="password" maxlength="50" required
                  data-validation="required strength" data-validation-strength="1"
                  data-validation-error_msg="Password is required.">
              </div>
            </div>
            <div class="row">
              <div class="small-3 columns">
                <label for="password2" class="text-right middle">Confirm Password:</label>
              </div>
              <div class="small-9 columns">
                <input type="password" value="" name="password2" maxlength="50" required
                  data-validation="confirmation" data-validation-confirm="password">
              </div>
            </div>
            <div class="row">
              <div class="small-3 columns">
                <label for="email" class="text-right middle">Email Address:</label>
              </div>
              <div class="small-9 columns">
                <input type="email" value="" name="email" placeholder="joe@example.com" maxlength="50" required
                  data-validation="required email" data-validation-length="max50"
                  data-validation-error-msg="You must provide a valid email address.">
              </div>
            </div>
            <div class="row">
              <div class="small-3 columns">
                <label for="birthdate" class="text-right middle">Birthdate:</label>
              </div>
              <div class="small-9 columns">
                <input type="text" id="birthdate_dtp" value="" name="birthdate" maxlength="10" required
                  data-validation="required birthdate"
                  data-validation-error-msg="You must provide a valid birthdate.">
              </div>
            </div>
            <button class="button" type="submit" value="Sign Up">Sign Up</button>
          </form>
          <script>
            <%# validate_signup_form(); %>
          </script>
        </div>
        <div class="tabs-panel" id="login_form">
          <form method="post" action="/login">
            <h2>Login</h2>
            <div class="row">
              <div class="small-3 columns">
                <label for="username" class="text-right middle">Username:</label>
              </div>
              <div class="small-9 columns">
                <input type="text" value="" name="username" placeholder="joe_user" maxlength="30" required
                  data-validation="required alphanumeric length" data-validation-allowing="-_"
                  data-validation-length="3-30"
                  data-validation-error-msg="Username is required, must be alphanumeric (dash and underscore are allowed), and between 3-30 characters.">
              </div>
            </div>
            <div class="row">
              <div class="small-3 columns">
                <label for="password" class="text-right middle">Password:</label>
              </div>
              <div class="small-9 columns">
                <input type="password" value="" name="password" maxlength="50" required
                  data-validation="required"
                  data-validation-error-msg="A password is required.">
              </div>
            </div>
            <button class="button" type="submit" value="Log In">Log In</button>
          </form>
          <script>
            <%# validate_login_form(); %>
          </script>
        </div>
      </div>
    </div>
    <% END %>

    <script type="text/javascript" src="/assets/js/app.js"></script>
    <script type="text/javascript" src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/remodal/remodal.min.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/DateTimePicker/jquery.datetimepicker.full.min.js"></script>
    <script>
      $(document).foundation();
    <% IF NOT session.logged_in %>
      $('#birthdate_dtp').datetimepicker(
        {
          format     : 'Y-m-d',
          timepicker : false,
          mask       : true,
          inline     : false,
          defaultDate: new Date(),
          yearStart  : 1920
        }
      );
    <% END %>
    </script>
    <% IF deferred.error || msgs.error_message || deferred.notify || deferred.success %>
    <script>
        $(document).ready( function () {
    <% IF deferred.error || msgs.error_message %>
        <% IF msgs.error_message %><% message = msgs.error_message %><% ELSE %>
        <% message = deferred.error %><% END %>
            showError( '<% message %>' );
    <% END %>
    <% IF deferred.notify %>
            showInfo( '<% deferred.notify %>' );
    <% END %>
    <% IF deferred.success %>
            showSuccess( '<% deferred.success %>' );
    <% END %>
        });
    </script>
    <% END %>

  </body>
</html>
