<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="[% settings.charset %]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Infinite Monkeys Games[% IF subtitle %] - [% subtitle %][% END %]</title>

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    [% IF og_data %]
    <meta property="og:url"         content="[% og.url %]" />
    <meta property="og:type"        content="[% og.type %]" />
    <meta property="og:title"       content="[% og.title %]" />
    <meta property="og:description" content="[% og.description %]" />
    <meta property="og:image"       content="[% og.image %]" />
    [% END %]

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo|Vollkorn|Jockey+One">
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/rrssb.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/lightbox.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.modal.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/assets/css/fine-uploader-new.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/monthly.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/notifIt.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/theme-default.min.css">
    <link rel="stylesheet" type="text/css" crossorigin="anonymous" integrity="sha256-RYMme8QITYCPWDLzOXswkTsPu1tjeAE2Myb7Kid/JBY=" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/dataTables.foundation.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/notif/notifIt.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/DateTimePicker/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/fineuploader/jquery.fine-uploader.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/jscolor/jscolor.min.js"></script>
    <script type="text/javascript" src="/assets/js/img.js"></script>
    <script type="text/javascript" src="https://use.fontawesome.com/20733268fd.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/dataTables.foundation.min.js"></script>

  </head>
  <body>

    <!-- Start Top Bar -->
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">
        <a href="/"><img src="/assets/img/IMG-Logo_67x50.png" alt="Infinite Monkeys Games" title="Infinite Monkeys Games" border="0"></a>
      </div>
    </div>

    <div id="responsive-menu">
      <div class="top-bar stacked-for-medium">

        <div class="top-bar-left">
          <ul class="dropdown vertical medium-horizontal menu" data-dropdown-menu>
            <li><a href="/"><img src="/assets/img/IMG-Logo_67x50.png" alt="Infinite Monkeys Games" title="Infinite Monkeys Games" border="0"></a></li>
            <li class="menu-text">
              <a href="/products"><span class="icon-white"><i class="fa fa-rocket fa-fw" aria-hidden="true"></i></span> <span>Products</span></a>
              <ul class="menu">
                <li><a href="/products/rpgs"><span class="icon-white"><i class="fa fi-die-six fa-fw" aria-hidden="true"></i></span>
                  <span>Role Playing Games</span></a></li>
                <li><a href="/products/cards"><span class="icon-white"><i class="fa fi-crown fa-fw" aria-hidden="true"></i></span>
                  <span>Card Games</span></a></li>
                <li><a href="/products/upcoming"><span class="icon-white"><i class="fa fa-flask fa-fw" aria-hidden="true"></i></span>
                  <span>Upcoming Products</span></a></li>
              </ul>
            </li>
            <li class="menu-text">
              <a href="/news"><span class="icon-white"><i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i></span> <span>News</span></a>
            </li>
            <li class="menu-text">
              <a href="/events"><span class="icon-white"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i></span> <span>Events</span></a>
            </li>
            <li class="menu-text">
              <a href="/community"><span class="icon-white"><i class="fa fa-group fa-fw" aria-hidden="true"></i></span> <span>Community</span></a>
            </li>
          </ul>
        </div>

        <div class="top-bar-right">
          <ul class="dropdown vertical medium-horizontal menu align-right" data-dropdown-menu>
            <li class="menu-text">
              <a href="#"><span class="icon-white"><i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i></span> <span>Loot</span></a>
            </li>
            [% IF session.logged_in_user %]
            <li class="menu-text">
              <a href="/user"><span class="icon-white"><i class="fa fa-user-circle fa-fw" aria-hidden="true"></i></span> <span>Account</span></a>
              <ul class="menu">
                <li><a href="/user/profile"><span class="icon-white"><i class="fa fa-id-card fa-fw" aria-hidden="true"></i></span>
                  <span>Profile</span></a></li>
                <li><a href="/user/orders"><span class="icon-white"><i class="fa fa-shopping-basket fa-fw" aria-hidden="true"></i></span>
                  <span>Orders</span></a></li>
                <li><a href="/user/wishlist"><span class="icon-white"><i class="fa fa-gift fa-fw" aria-hidden="true"></i></span>
                  <span>Wishlist</span></a></li>
              </ul>
            </li>
            <li class="menu-text">
              <a href="/logout"><span class="icon-white"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i></span> <span>Log Out</span></a>
            [% ELSE %]
              <a href="#login-signup-form" data-modal><span class="icon-white"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i></span>
                <span>Sign Up / Login</span></a>
            [% END %]
            </li>
          </ul>
        </div>

      </div>
    </div>
    <!-- End Top Bar -->


    [% content %]


    <!-- Start Footer -->
    <div class="row">
      <div class="small-12 columns">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <div class="row small-up-2 medium-up-4">
          <div class="columns text-center align-middle">
            <img src="/assets/img/IMG-Logo_67x50.png" alt="Infinite Monkey Games" title="Infinite Monkey Games" border="0">
          </div>
          <div class="columns text-center align-middle">
            <a href="/"><i class="fa fa-home fa-fw"></i><br>Home</a>
          </div>
          <div class="columns text-center align-middle">
            <a href="/about"><i class="fa fa-question-circle fa-fw"></i><br>About</a>
          </div>
          <div class="columns text-center align-middle">
            <a href="/contact"><i class="fa fa-envelope fa-fw"></i><br>Contact</a>
          </div>
        </div>
      </div>
      <div class="small-6 columns align-right align-middle">
        <ul class="menu align-right">
          <li><i class="fa fa-copyright fa-fw" aria-hidden="true"></i> Copyright 2016</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div class="row">
          <div class="small-12 columns text-right">
            <small><span class="subtle_text">Infinite Monkeys Games, IMG, the IMG logo are all trademarks of Infinite Monkeys Games.</span></small>
          </div>
        </div>
      </div>
    </div>
    <!-- End Footer -->

    [% UNLESS session.logged_in_user %]
    <div class="modal" id="login-signup-form" style="display: none;">
    [% PROCESS 'login.tt' %]
    </div>
    [% END %]

    <script type="text/javascript" src="https://cdn.jsdelivr.net/foundation/6.2.4-rc1/foundation.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/foundation/6.2.4-rc1/js/foundation.util.mediaQuery.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/jquery-modal/jquery.modal.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/assets/js/vendor/rrssb/rrssb.min.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/lightbox2/lightbox.min.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/monthly/monthly.js"></script>

    [% IF deferred.error || msgs.error_message || deferred.notify || deferred.success %]
    <script>
        $(document).ready( function () {
    [% IF deferred.error || msgs.error_message %]
        [% IF msgs.error_message %][% message = msgs.error_message %][% ELSE %]
        [% message = deferred.error %][% END %]
            showError( '[% message %]' );
    [% END %]
    [% IF deferred.notify %]
            showInfo( '[% deferred.notify %]' );
    [% END %]
    [% IF deferred.success %]
            showSuccess( '[% deferred.success %]' );
    [% END %]
        });
    </script>
    [% END %]

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-88059504-1', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
