[% PROCESS '_breadcrumbs.tt' %]

<div class="row">
  <div class="small-12 columns">
    <h1>Admin Dashboard</h1>
    <ul>
      <li><a href="/admin/manage_products">Manage Products</a></li>
      <li><a href="/admin/manage_product_categories">Manage Product Categories</a></li>
    </ul>
  </div>
</div>
