<div class="row">
  <div class="small-12 columns text-center">
    <h2>You have been logged out.</h2>
  </div>
</div>
<div class="row align-center">
  <div class="small-8 columns text-center">
    <p>Thanks for visiting us. Come again soon!</p>
    <div class="button-group align-center">
      <a href="/" class="button">Main</a>
      <a href="/products" class="button">Products</a>
    </div>
  </div>
</div>
